@model Book


    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1"> @Model.BookId </div>
                    <h1 class="display-5 fw-bolder"> @Model.Title </h1>
                    <div class="fs-5 mb-5">
                    @if (Model.MemberBooks != null && Model.MemberBooks.Any())
                    {
                        <div class="fs-5 mb-5">
                            <h3>Borrowed by:</h3>
                            <ul>
                                @foreach (MemberBook member in Model.MemberBooks)
                                {
                                    <li>Member ID: @member.MemberId Member Name: @member.Member.Name</li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <p>This book has not been borrowed yet.</p>
                    }
                    </div>
                    <p class="lead">@Model.Brief</p>
                    <div class="d-flex">
                    <div class="d-flex">
                        <div class="me-3">
                            <span class="badge bg-secondary">Copies: @Model.Copies</span>
                        </div>                          
                        <div class="btn-group">
                            <a asp-controller="Book" asp-action="Detail" asp-route-id="@Model.BookId" class="btn btn-sm btn-outline-dark"> Borrow </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
